<p>drive-company works!</p>
<!DOCTYPE html>
<html>
<title>Online Automated Placement Management System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif};
</style>
<body>
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
        <span class="w3-bar-item w3-left" >Online Automated Placement Management System</span>
        <span class="w3-bar-item w3-right" (click)="Logout()">Back</span>
      </div>
<div class="w3-container"><br>
  
  <h1 class="w3-red">Campus Drive Details</h1><br>


        <p>DriveId:  {{drive.driveId}}</p>
        <form>
        <p>DriveDate: <input type="text" value="{{drive.driveDate}}" [(ngModel)]="drive.driveDate" name="ddate"></p>
        <p>Time: <input type="text"  value={{drive.time}} [(ngModel)]="drive.time" name="time"></p>
        <p>Venue:  <input type="text" value={{drive.venue}} [(ngModel)]="drive.venue" name="venue"></p>
        <td><button (click)="updateDrive()" mat-raised-button  class="w3-red">Update</button></td>
      </form>
    </div>
    <div class="w3-container"><br>
        <h1 class="w3-red">Job Details</h1><br>
        <div *ngFor="let job of jobs  | async">
          <td [(ngModel)]="jobId">{{job.jobId}}</td>
     
          <p>Designation     <input type="text" value="{{job.designation}}" [(ngModel)]="job.designation" name='designation'></p>
          <p>Role Responsibility    <textarea  input type="text"  value={{job.responsibility}} [(ngModel)]="job.responsibility" name='role'> </textarea></p>
          <p>Required Skill:     <textarea  input type="text" name='skill' value={{job.skill}} [(ngModel)]="job.skill"> </textarea></p>
          <p>Required Experience:     <input type="text" name='exp' value={{job.experience}} [(ngModel)]="job.experience"></p>
          <p>Technology:     <input type="text"  name='tech' value={{job.technology}} [(ngModel)]="job.technology"></p>
          <p>Salary:     <input type="text" name='sal' value={{job.salary}} [(ngModel)]="job.salary"></p>
          <p>Location:    <input type="text"  name='loc' value={{job.location}} [(ngModel)]="job.location"></p>
          <p><button (click)="updateJob(job)" mat-raised-button  class="w3-red">Update</button>&nbsp;&nbsp;
            <button (click)="deleteJob(job.jobId)" mat-raised-button  class="w3-red">Delete</button></p>
       
        </div>
      </div>
      <button (click)="addJob()" mat-raised-button  class="w3-red">addJob</button>
</body>
</html>